<div class="row">
<div class="col-lg-12">

<form role="form" ng-submit="login();">
  <div class="form-group">
    <label for="kullanici">Kullanıcı Adı</label>
    <input type="text" class="form-control" id="kullanici" placeholder="Kullanıcı Adı" ng-model="kullanici">
  </div>
  <div class="form-group">
    <label for="sifre">Şifre</label>
    <input type="password" class="form-control" id="sifre" placeholder="Şifre" ng-model="sifre">
  </div>
  <button type="submit" class="btn btn-default">Giriş Yap</button>
</form>
<p></p>
</div>
</div>